:root{
    --header-height: 150px;
    --navbar-height: 41px;
    --header-with-search-hight: calc(var(--header-height) - var(--navbar-height))
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* ------------------- */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* Animation */
@keyframes HienThiThongBao {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
/* Modal */
.modal{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: #f5f5f5;
    padding: 50px 0;
}

.modal__body {
    --growth-to: 0.7;
    --growth-from: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}
/* Button*/
.btn {
    min-width: 124px;
    height: 40px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover {
    background-color: rgb(0, 0, 0, 0.25);
}
.btn.btn-DangKy {
    color: white;
    background-color: #5b98c7;
}
.btn.btn--size--s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

/* selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.select-input:hover .select-input__list {
    display: block;
}
.select-input__label {
    font-size: 1.6rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    top: 1px;
}
.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: white;
    padding: 10px 16px;
    list-style: none;
    display: none;
}
.select-input__link {
    font-size: 1.6rem;
    color: #333;
    text-decoration: none;
    padding: 5px 0;
}
.select-input__link:hover {
    color: #5b98c7;
}

