<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Đăng nhập Admin</title>
  <link rel="stylesheet" href="/css/admin_login_custom.css">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="wrapper"> 
    <span class="icon-close"><ion-icon name="close"></ion-icon></span> 

        <div class="form-box login"> 
            <h2>Admin Login</h2>
            {{#if error}}
              <div class="alert alert-danger" style="color: #ffb3b3; text-align:center; margin-bottom:10px;">{{error}}</div>
            {{/if}}
            <form method="POST" action="/admin/login"> 
            <div class="input-box"> 
                <label style="font-weight:bold;">Email</label> 
                <input type="text" name="email" required placeholder=" "> 
            </div>

            <div class="input-box"> 
                <label style="font-weight:bold;">Password</label> 
                <input type="password" name="password" required placeholder=" "> 
            </div>

            <div class="remember-forgot"> 
                <label><input type="checkbox" /> Remember me</label> 
                <a href="#">Forgot Password?</a> 
            </div>

            <button type="submit" class="btn">Login</button> 

            <div class="login-register"> 
                <p>Don't have an account? <a href="#" class="register-link">Register</a></p> 
            </div> 
            </form> 
        </div> 
    </div>

</body>
</html> 